{% include "./partials/header.njk" -%}
{% include "./partials/nav.njk" %}
<!-- Page Content -->
<div class="page-content {{ "active" if userProfile.settings.smSideNav == true }}">
<div class="page-header">
    <div class="container-fluid">
    <h2 class="h5 no-margin-bottom">Contract check</h2>
    </div>
</div>
<section class="no-padding-top padding-bottom noselect">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="statistic-block block">
					<span>{{ error if error }}</span>
					<span class='refresh'>Next refresh: </span><span id='refresh_time' class='refresh'></span>

                    <table id="example" class="table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>pilot</th>
                                <th>rented</th>
								<th>returned</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td>{{ row.pilotName }}</td>
                                <td>{{ row.left }}</td>
								<td>{{ row.right }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>         
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/fh-3.1.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/fh-3.1.3/datatables.min.js"></script>
<style>
	.refresh{
		display: inline !important;
	}
	table.dataTable td{
	    white-space: pre;
	}

	table.dataTable{
		width: 1000px;
	}
</style>
<script>
$(document).ready(function() {
    $('#example').DataTable({
        "paging":   false,
        "ordering": false
    });

})


</script>
{%- include "./partials/footer.njk" %}