{% include "./partials/header.njk" -%}
{% include "./partials/nav.njk" %}


<script>
	window.SERV_fleetId = {{ fleetId | safe }};
	window.SERV_user = '{{ user | safe }}';
</script>

<script src="/includes/js/socket.io.min.js"></script>
<script src="/includes/js/fleetManager.js?v=1"></script>
<link rel="stylesheet" href="/includes/css/fleetManager.css?v=1">

<!-- Page Content -->
<div class="page-content {{ "active" if userProfile.settings.smSideNav == true }}">

<section class="no-padding-top no-padding-bottom">
	<div class="container-fluid">
		<div class="statistic-block block" >
			{{ error if error }}
			<div id="main"></div>
		</div>
	</div>
</section>
</div>
{%- include "./partials/footer.njk" %}