

.fleetTable {
	display: table;
	width: 1200px;
}


.fleetHeadCaption {
	display: table-caption;
	font-weight: bold;
	background-color: #3f4349;
	/*background-color: #e9e9e9;*/
	/*text-align: center;*/
	padding: 3px 5px 0px 3px;
	margin: 25px 0px 0px 0px;
	line-height: 20px;
	font-size: 18px;
	color: #CA8327;
	cursor: pointer;
}
.fleetColGroup {
	display: table-column-group;
}
.fleetColumn {
	display: table-column;
}

.fleetHeadGroup{
	display: table-header-group;
}
.fleetHeader {
	display: table-cell;
	vertical-align: bottom;
	color: #a1a4aa;
	background-color: #3f4349;
	padding-left: 15px;
	font-style: italic;
	font-size: 0.9rem;
	user-select: none;
	cursor: n-resize;
}

.fleetBody {
	display: table-row-group;
}


.fleetRow {
	display: table-row;
}

.errorDiv {
	background-color: #6f1616;
	color: #d4cbcb;
	padding: 5px;
}

.smallFont {
	font-size: 14px;
}

.refreshSquads {
	margin-left: 25px;
	color: #b09696;
	border: 1px solid #968080;
	border-radius: 3px;
	display: inline-block !important;
	padding: 0px 4px;
	background-color: #242121;
	font-size: 0.9rem;
}

.greenLabel {
	color: #7ff368;
}

.yellowLabel {
	color: #f3f068;
}

.redLabel {
	color: #f38268;
}

.errorBtn {
	background-color: #462424;
	color: #d4cbcb;
	padding: 3px 10px;
	border-radius: 3px;
	display: inline-block;
}

.fleetRow > div {
	display: table-cell;
	white-space: nowrap;
	padding: 2px 15px;
	color: white;
}

.rowMain:nth-child(odd) {
	background-color: #484848;
}

.rowMain:nth-child(even) {
	background-color: #5a5a5a;
}

.rowAlt:nth-child(even) {
	background-color: #5f6c6a;
}

.rowAlt:nth-child(odd) {
	background-color: #667573;
}

.orangeSquad{
	color: #feb17b;
}

.greenSquad{
	color:#abff8e;
}

.blueSquad {
	color: #bde1ff;
}

.redSquad {
	color: #fc6e65;
}

.textButton {
	cursor: pointer;
	display: inline-block;
}

.altName {
	display: inline-block;
	color: #c5f7f1;
	background-color: #5b5b5b;
	/*font-style: italic;*/
	/*padding: 0px 8px 0 5px;*/
	padding: 0px 6px;
	font-size: 0.9rem;
	/*margin-left: 20px;*/
}

.altNameImg {
	display: inline-block;
	width: 9px;
	height: 14px;
	background-image: url(../img/arr_up.png);
	margin-left: 12px;
	margin-right: 3px;
}

.pilotBtns {
	margin-top: 5px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #aaaaaa;
	text-align: center;
	line-height: 11px;
	padding-right: 0px !important;
}

.squadBtns {
	border: 1px solid;
	border-radius: 3px;
	border-color: #75787d;
	background-color: #212224;
	padding: 0px 6px;
}

/* override */
.dropdown-menu {
	left: 0px !important;
	min-width: 200px !important;
	margin-top: 0px !important;
	border-radius: 3px;
	background-color: #797878;
	color: #e7e9ee;
}
.dropdown {
	display: inline-block;
}
.dropdown-menu > .textButton {
	white-space: nowrap;
	padding: 1px 5px;
}
.dropdown-menu > .textButton:hover {
	background-color: #9d9d9d;
}

.mySpan{
	display: inline-block !important;
}

.dropdown-item{
	cursor: pointer;
}

.boss2Input {
	margin: 0px 10px;
	border: 1px solid;
	border-radius: 3px;
	border-color: #75787d;
	background-color: #212224;
	padding: 0px 6px;
	font-size: 13px;
	color: #8a8d93;
}

.boss2Btn {
	border: 1px solid;
	border-radius: 3px;
	border-color: #75787d;
	background-color: #212224;
	padding: 0px 4px;
	display: inline-block;
	font-size: 11px;
}

.configDiv {
	background-color: #35322d;
	padding: 8px 0;
	color: #a7aab0;
}

.tabBtn {
	border: 1px solid;
	border-radius: 2px;
	border-color: #815a3d;
	background-color: #65452c;
	padding: 0px 8px;
	display: inline-block;
	color: #babcbf;
}

.tableTabs {
	margin: 2px 50px 2px 0;
	user-select: none;
}

.tableTabs .textButton {
	padding: 0px 3px;
	margin: 0px 4px;
	color: #dbdcdd;
	background-color: #3d4148;
}