
.fleetTable{
	display: table;
	width: 1200px;
}

.fleetCaption {
	font-weight: bold;
	display: table-caption;
	background-color: #e9e9e9;
	text-align: center;
	padding: 5px;
	line-height: 20px;
	font-size: 18px;
	color: #CA8327;
}

.fleetColGroup {
	display: table-column-group;
}
.fleetColumn {
	display: table-column;
}

.fleetHeadGroup{
	display: table-header-group;
}
.fleetHeader {
	display: table-cell;
	text-align: center;
	vertical-align: bottom;
	color: #a1a4aa;
}

.fleetBody {
	display: table-row-group;
}


.fleetRow {
	display: table-row;
}

.errorDiv {
	background-color: #6f1616;
	color: #d4cbcb;
	padding: 5px;
}

.smallFont {
	font-size: 14px;
}

.refreshSquads{
	margin-left: 25px;
	color: #b68888;
	display: inline-block !important;
}

.greenLabel {
	color: #7ff368;
}

.yellowLabel {
	color: #f3f068;
}

.redLabel {
	color: #f38268;
}

.errorBtn {
	background-color: #462424;
	color: #d4cbcb;
	padding: 3px 10px;
	border-radius: 3px;
	display: inline-block;
}

.fleetRow > div {
	display: table-cell;
	white-space: nowrap;
	padding: 4px 15px;
	color: white;
}

.rowMain:nth-child(odd) {
	background-color: #515151;
}

.rowMain:nth-child(even) {
	background-color: #5f5f5f;
}

.rowAlt:nth-child(even) {
	background-color: #5f6c6a;
}

.rowAlt:nth-child(odd) {
	background-color: #667573;
}

.orangeSquad{
	color: #feb17b;
}

.greenSquad{
	color:#abff8e;
}

.blueSquad {
	color: #bde1ff;
}

.redSquad {
	color: #fc6e65;
}

.textButton {
	cursor: pointer;
}

.altName {
	display: inline-block;
	color: #e5f2f1;
	background-color: #6c8b87;
	padding: 2px 8px;
	/*margin-left: 20px;*/
}

.altNameImg {
	display: inline-block;
	width: 13px;
	height: 18px;
	background-image: url(../img/arr_up.png);
	margin-left: 7px;
	margin-right: 3px;
}

.pilotBtns {
	margin-top: 5px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #aaaaaa;
	text-align: center;
	line-height: 11px;
	padding-right: 0px !important;
}

.squadBtns {
	border: 1px solid;
	border-radius: 3px;
	border-color: #75787d;
	background-color: #212224;
	padding: 0px 6px;
}

/* override */
.dropdown-menu {
	left: 0px !important;
	min-width: 150px !important;
	margin-top: 0px !important;
	border-radius: 3px;
	background-color: #797878;
	color: #e7e9ee;
}
.dropdown {
	display: inline-block;
}
.dropdown-menu > .textButton {
	white-space: nowrap;
	padding: 1px 5px;
}
.dropdown-menu > .textButton:hover {
	background-color: #9d9d9d;
}

.mySpan{
	display: inline-block !important;
}

.dropdown-item{
	cursor: pointer;
}